.pricing {
    background-color: #252B42;
    text-align: center;
    padding-top: 110px;
    padding-bottom: 100px;
}

.pricing .pricing__title {
    color: #FFFFFF;
    font-size: 48px;
    font-weight: 400;
    line-height: 55px;
    letter-spacing: 0.2px;
    display: block;
    margin-top: 17px;
}

.pricing .pricing__subtitle {
    color: #FFFFFF;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0.1px;
}

/* BOX */
.pricing__boxes {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 90px;
    align-items: center;
}

.pricing .pricing__box {
    background-color: #FFFFFF;
    width: 335px;
    padding: 40px;
    border-radius: 10px;
    color: #252B42;
    max-width: 100%;
    height: 607px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.pricing .pricing__box:nth-child(2) {
    background-color: #2091F9;
    color: #FFF;
    height: 693px;
}

.pricing .pricing__box .box__title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}


.pricing .pricing__box .box__subtitle {
    font-size: 16px;
    margin-bottom: 35px;
}

.pricing .pricing__box .box__value {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    margin-bottom: 40px;
}

.pricing .pricing__box .box__value .value--left {
    font-size: 74px;
    font-weight: bold;
}

.pricing .pricing__box .box__value .value--right {
    margin-left: 10px;
}

.pricing .pricing__box .box__value .value--right .value--right__cifrao {
    font-weight: bold;
    font-size: 20px;
}

.pricing .pricing__box .box__value .value--right .value--right__description {
    font-size: 20px;
}

.pricing .pricing__box .box__benefits {
    font-size: 16px;
    margin-bottom: 35px;
}

.pricing .pricing__box .box__benefits .benefits__item {
    font-size: 16px;
    margin-top: 20px;
}

 
.pricing .pricing__box:nth-child(2) .box__button {
    background: #FFF;
    color: #2091F9;
}

.pricing .pricing__box .box__button {
    max-width: 100%;
    border-radius: 35px;
    border: none;
    background: #2091F9;
    font-size: 20px;
    color: #FFFFFF;
    cursor: pointer;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    padding: 16px 47px;
    display: block;
}
