body {

}

.menu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    display: flex;
    height: 156px;
    align-items: center;
    max-width: 1210px;
    margin: auto;
    justify-content: space-between;
}

.menu .menu__group {
    display: flex;
    align-items: center;
}

.menu .group__links {
    display: flex;
}

.group__logo {
    margin-left: 65px;
}

.menu .menu__social-media img {
    margin-left: 24px;
}

.menu .group__links .links__item .item__link 
{
    color: #fff;
    font-size: 16px;
    margin-left: 41px;
    text-decoration: none;

}

.cabecalho {
    z-index: 1;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-image: url('../img/banner.png');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.cabecalho__group {
    max-width: 826px;
    text-align: center;
}

.group__title {
    color: #fff;
    font-weight: bolder;
    font-size: 74px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 20px;
}

.group__subtitle {
    color: #fff;
    font-size: 32px;
    margin-bottom: 70px;
}

.group__button {
    background-color: #2091F9;
    padding: 16px;
    color: #fff;
    text-decoration: none;
    width: 236px;
    font-size: 20px;
    display: inline-block;
    border-radius: 200px;
}