body {}

.menu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    display: flex;
    height: 156px;
    align-items: center;
    max-width: 1210px;
    margin: auto;
    justify-content: space-between;
}

.menu .menu__group {
    display: flex;
    align-items: center;
}

.menu .group__links {
    display: flex;
}

.group__logo {
    margin-left: 65px;
}

.menu .menu__social-media img {
    margin-left: 24px;
}

.menu .group__links .links__item .item__link {
    color: #fff;
    font-size: 16px;
    margin-left: 41px;
    text-decoration: none;

}

.cabecalho {
    height: 100vh;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.cabecalho .cabecalho__banner {
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: 0;
}

.cabecalho .cabecalho__banner .banner__img {
    width: 100%;
}

.cabecalho__group {
    max-width: 826px;
    text-align: center;
    z-index: 1;
}

.group__title {
    color: #fff;
    font-weight: bolder;
    font-size: 74px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 20px;
}

.group__subtitle {
    color: #fff;
    font-size: 32px;
    margin-bottom: 70px;
}

.group__button {
    background-color: #2091F9;
    padding: 16px;
    color: #fff;
    text-decoration: none;
    width: 236px;
    font-size: 20px;
    display: inline-block;
    border-radius: 200px;
}

/* CONTEUDO */

/* CONTEUDO - FEATURES */
.conteudo__features {}

.conteudo .conteudo__features {
    text-align: center;
    margin-top: 100px;
}

.conteudo .conteudo__features .features__title {
    font-size: 48px;
    color: #252B42;
    margin-bottom: 27px;
}

.conteudo .conteudo__features .features__description {
    font-size: 28px;
    color: #374754;
    max-width: 100%;
    width: 523px;
    margin: 0 auto;
    margin-bottom: 90px;
}

/* CONTEUDO - CARDS */

.features__cards {
    display: flex;
    width: 869px;
    max-width: 100%;
    margin: 0 auto;
    margin-bottom: 132px;
}


/* NEWSLETTER */
.newsletter {
    margin-top: 100px;
    margin-bottom: 182px;
}

.newsletter .newsletter__first-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1200px;
    margin: auto;
    max-width: 100%;
}

.newsletter .newsletter__first-box .first-box--left {
    text-align: left;
}

.newsletter .newsletter__first-box .first-box--left .first-box--left__title {
    font-size: 48px;
    color: #252B42;
    margin-bottom: 20px;
}

.newsletter .newsletter__first-box .first-box--left .first-box--left__description {
    font-size: 28px;
    color: #252B42;
    margin-bottom: 70px;
}

.newsletter .newsletter__first-box .first-box--left .first-box--left__button {
    background-color: #2091F9;
    padding: 16px;
    color: #fff;
    text-decoration: none;
    width: 236px;
    font-size: 20px;
    display: inline-block;
    border-radius: 200px;
    text-align: center;
}

/* VIDEO */

/* Estilize o contêiner do vídeo */
.video-container {
    position: relative;
    width: 1300px;
    /* Largura do vídeo */
    height: 600px;
    /* Altura do vídeo */
    overflow: hidden;
    border-radius: 20px;
    /* Adicione um raio de borda para arredondar as bordas */
    margin: 0 auto;
}

/* Estilize o iframe dentro do contêiner */
.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
    /* Remova qualquer borda padrão do iframe */
}

/* NEWSLETTER */

.newsletter .newsletter__second-box {
    display: flex;
    align-items: center;
    width: 1200px;
    margin: auto;
    max-width: 100%;
    justify-content: space-between;
    margin-top: 100px;
}

.newsletter .newsletter__second-box .second-box__box--right {
    text-align: left;
    margin-left: 115px;
}

.newsletter .newsletter__second-box .second-box__box--right .box--right__subtitle {
    color: #252B42;
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0.1px;
}


.newsletter .newsletter__second-box .second-box__box--right .box--right__title {
    color: #252B42;
    font-size: 48px;
    font-weight: 400;
    line-height: 55px;
    letter-spacing: 0.2px;
    display: block;
    margin-top: 17px;
}

.newsletter .newsletter__second-box .second-box__box--right .box--right__description {
    color: #252B42;
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0.1px;
    margin-top: 35px;
    display: block;
}

.newsletter .newsletter__second-box .second-box__box--right .box--right__label {
    color: #252B42;
    font-size: 18px;
    font-weight: 100;
    line-height: 28px;
    letter-spacing: 0.1px;
}

.newsletter .newsletter__second-box .second-box__box--right .box--right__label {
    color: #252B42;
    font-size: 18px;
    font-weight: 100;
    line-height: 28px;
    letter-spacing: 0.1px;
}

.newsletter .newsletter__second-box .second-box__formulario {
    display: flex;
    margin-top: 55px;
}

.newsletter .newsletter__second-box .second-box__formulario .formulario__email {
    height: 54px;
    margin-right: 12px;
    width: 273px;
    max-width: 100%;
    border-radius: 39px;
    border: solid 1px #E8E8E8;
    background-color: #F4F4F4;
    padding-left: 29px;
    color: #18171D;
    outline: none;
}

.newsletter .newsletter__second-box .second-box__formulario .formulario__button {
    width: 172px;
    max-width: 100%;
    border-radius: 35px;
    border: none;
    background: #2091F9;
    font-size: 20px;
    color: #FFFFFF;
    cursor: pointer;
}